.card {
    padding: 10px;
    width: 450px;
    // top: 15%;
    // left: 35%;
    z-index: 99;
    position: absolute;

    a {
        text-decoration: none !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
    }

    &__info {
        display: flex;
        padding-bottom: 20px;

        &__text {
            padding-left: 16px;
        }
    }

    &__button {
        background-color: #fff;
        border-radius: 30px;
        padding: 15px;
        width: 100%;
        display: flex;
        /* 水平置中 */
        justify-content: center;
        /* 垂直置中 */
        align-items: center;
        color: #0f0f0f;
        font-weight: 700;
    }
}